<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.hrm.mapper.SsoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.itsource.hrm.domain.Sso">
        <id column="id" property="id" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="thirdUid" property="thirdUid" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="avatar" property="avatar" />
        <result column="salt" property="salt" />
        <result column="nickName" property="nickName" />
        <result column="bitState" property="bitState" />
        <result column="secLevel" property="secLevel" />
    </resultMap>

</mapper>
